<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <form method="GET" action="{{ url_for('books_list') }}">
    <label for="search">Search by title:</label>

      <input
        type="text"
        name="search"
        placeholder="Search for a book..."
        value="{{ search or '' }}"
      >

      <button type="submit">Search</button>
    </form>
<br><br>
  <form method="GET" action="{{ url_for('books_list') }}">
      <label for="sort">Sort by:</label>
      <select name="sort" id="sort" onchange="this.form.submit()">
        <option value="title" {% if sort == "title" %}selected{% endif %}>Title</option>
        <option value="author" {% if sort == "author" %}selected{% endif %}>Author</option>
      </select>
    </form>
<br><br>
  {% if books %}
    {% for book in books %}
      <div style="margin-bottom: 20px;">

        {% if book.isbn %}
          <img
            src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg"
            alt="Cover of {{ book.title }}"
          >
        {% else %}
          <p>No cover available</p>
        {% endif %}

        <h3>{{ book.title }}</h3>

        <p>
          Author:
          {% if book.author %}
            {{ book.author.name }}
          {% else %}
            Unknown author
          {% endif %}
        </p>

        <p>ISBN: {{ book.isbn or "N/A" }}</p>
        <p>Publication year: {{ book.publication_year or "Unknown" }}</p>
            <form method="POST" action="{{ url_for('delete_book', book_id=book.id) }}">
            <button type="submit">Delete Book</button>
            </form>
      </div>
      <hr>
    {% endfor %}

    {% else %}
       {% if search %}
          <p>No books found matching "{{ search }}".</p>
       {% else %}
          <p>No books found in the library.</p>
       {% endif %}
    {% endif %}
  </body>
</html>